.idea
.gradle
**/build/
!src/**/build/

**/logic-fl.pl

.vscode
**/bin/

analyzer/jacoco.exec
analyzer/src/test/resources/fault_locs.txt
analyzer/npe.traces.*
analyzer/src/test/resources/test-sample.jar
analyzer/src/test/resources/src/sample/Person.java
analyzer/src/test/resources/src/sample/Example.java
analyzer/src/test/resources/result/
analyzer/src/test/resources/coverage.json
analyzer/src/test/resources/coverage.filter.json
analyzer/npe.traces.sample.json
analyzer/src/test/resources/*_probe_injected.txt
analyzer/src/test/resources/*.coverage.json